<ion-pane ng-controller="DirectMessage.Controller">
  <ion-header-bar class="bar-light">
    <button class="button button-icon icon ion-android-close" ng-click="goHome();">
    </button>
    <h1 class="title">Username</h1>
  </ion-header-bar>
  <ion-content class="direct-messages">
    <div class="card" ng-click="logRecipient();">
      <p>Hi!</p>
    </div>

    <div id="message-form">
        <input class="send-message" placeholder="Type a message..." ng-model="newMessage.contents" required type="text">
        <button type="button" class="button button-block button-positive" ng-click="sendMessage()">
            Send
        </button>
    </div>
  </ion-content>
</ion-pane>
