<ion-pane ng-controller="EditProfile.Controller">
  <ion-header-bar class="bar-positive">
    <button class="button button-icon icon ion-ios-arrow-back" ng-click="backToProfile();">
    </button>
    <h1 class="title">Edit Profile</h1>
  </ion-header-bar>
  <ion-content class="edit-profile">
    <div class="item item-image profile-image">
        <a href="#" ng-click=""><img src="https://s3.amazonaws.com/f.cl.ly/items/3s0t3m2f0h2q0D0s0z1P/model-003.jpg"></a>
    </div>

    <div class="list">
      <label class="item item-input">
        <span class="input-label">First Name</span>
        <input type="text" value="Stewart">
      </label>

      <label class="item item-input">
        <span class="input-label">Last Name</span>
        <input type="text" value="McCoy">
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Position
        </div>
        <select>
          <option>Defender</option>
          <option selected>Center Midfielder</option>
          <option>Winger</option>
          <option>Goalkeeper</option>
          <option>Striker</option>
        </select>
      </label>

      <label class="item item-input item-select skill-level">
        <div class="input-label">
          Skill level
        </div>
        <select>
          <option>Beginner</option>
          <option selected>Recreational</option>
          <option>Intermediate</option>
          <option>Competitive</option>
          <option>Division 1+</option>
        </select>
      </label>
    </div>

    <button class="button button-block button-positive" ng-click="backToProfile()">
      Update Profile
    </button>
  </ion-content>
</ion-pane>
