<ion-pane ng-controller="EditProfile.Controller">
  <ion-header-bar class="bar-positive">
    <button class="button button-icon icon ion-ios-arrow-back" ng-click="backToProfile();">
    </button>
    <h1 class="title">Edit Profile</h1>
  </ion-header-bar>
  <ion-content class="edit-profile">
    <div class="item item-image profile-image" style="width:90px;height:90px;overflow:hidden;margin-left:auto;margin-right:auto;">
        <img src="{{userValues.photo}}">
    </div>

    <div>
      <button ng-click="getPhoto()" class="button button-full button-primary">Take New Photo</button>
    </div>

    <div class="list">
      <label class="item item-input">
        <span class="input-label">First Name</span>
        <input type="text" value="{{userValues.firstName}}" ng-model="firstName">
      </label>

      <label class="item item-input">
        <span class="input-label">Last Name</span>
        <input type="text" value="{{userValues.lastName}}" ng-model="lastName">
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Skill
        </div>
        <select ng-model="selectedSkill" ng-options="skill for skill in skills"></select>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Position
        </div>
        <select ng-model="selectedPosition" ng-options="position for position in positions"></select>
      </label>

    </div>

    <button class="button button-full button-positive" ng-click="updateProfile(selectedPosition, selectedSkill, firstName, lastName)">
      Update Profile
    </button>
  </ion-content>
</ion-pane>
