<ion-pane ng-controller="Profile.Controller">
  <ion-header-bar class="bar-positive">
    <h1 class="title">Your Profile</h1>
    <button class="button button-icon icon ion-android-close" ng-click="goHome();">
    </button>
  </ion-header-bar>
  <ion-content class="profile">
    <div class="card">
      <div class="item">
        <div class="item item-image profile-image">
            <a href="#" ng-click=""><img src="https://s3.amazonaws.com/f.cl.ly/items/3s0t3m2f0h2q0D0s0z1P/model-003.jpg"></a>
        </div>
        <div class="item profile-details">
            <h2>Stewart McCoy</h2>
            <h3>San Francisco</h3>
            <p>Competitive Winger</p>
        </div>
        <div class="item item-text-wrap profile-about">I'm free to sub in men's or coed competitive games on Tuesday or Thursday nights.</div>
        <button class="button button-block button-stable" ng-click="editProfile()">
          Edit Profile
        </button>
      </div>
    </div>

    <ul class="list">
      <li class="item item-toggle">
         SMS notifications
         <label class="toggle toggle-positive">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
    </ul>

    <button class="button button-full button-dark" ng-click="logUserOut">
      Logout
    </button>
  </ion-content>
</ion-pane>
