<ion-pane ng-controller="Profile.Controller">
  <ion-header-bar class="bar-positive">
    <h1 class="title">Your Profile</h1>
    <button class="button button-icon icon ion-android-close" ng-click="goHome();">
    </button>
  </ion-header-bar>
  <ion-content class="profile">
    <div class="card" ng-click="">
      <div class="item">
        <div class="item item-image profile-image">
            <a href="#"><img src="{{userValues.photo}}"></a>
        </div>
        <div class="item profile-details">
            <h2>{{userValues.firstName}}&nbsp;{{userValues.lastName}}</h2>
            <h3>San Francisco</h3>
            <p>{{userValues.skill}}&nbsp;{{userValues.position}}</p>
        </div>
        <div class="item item-text-wrap profile-about">{{userValues.about}}</div>
        <button class="button button-block button-stable" ng-click="editProfile()">
          Edit Profile
        </button>
      </div>
    </div>

    <ul class="list">
      <li class="item item-toggle">
         SMS notifications
         <label class="toggle toggle-positive">
           <input type="checkbox" checked>
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
    </ul>

    <button class="button button-full button-dark" ng-click="logUserOut()">
      Logout
    </button>
  </ion-content>
</ion-pane>
